!! URxvt apariencia
URxvt.font:             xft:SourceCodePro:style=Regular:size=09
URxvt.depth:            24
URxvt.buffered: 	    true
URxvt.lineSpace:        0
URxvt.letterSpace:      0
URxvt.cursorBlink:	    true
URxvt.scrollBar:	    false
URxvt.scrollBar_right:	false

!! URxvt util
URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

!! colores de https://terminal.sexy
*.foreground:   #f5f5f5
*.background:   #0c0d0c
*.cursorColor:  #f5f5f5

! black
*.color0:       #252323
*.color8:       #696966

! red
*.color1:       #e04151
*.color9:       #ff6f69

! green
*.color2:       #1ccf75
*.color10:      #57e39d

! yellow
*.color3:       #ffcc5c
*.color11:      #fff68f

! blue
*.color4:       #3b5998
*.color12:      #4094be

! magenta
*.color5:       #d66bc2
*.color13:      #ff92c8

! cyan
*.color6:       #40e0d0
*.color14:      #94fff4

! white
*.color7:       #f7f7f7
*.color15:      #f0f8ff
